<template>
  <div class="job-listing">
    <div class="job-listing__search">
      <input type="text" v-model="searchTerm" placeholder="Search jobs...">
    </div>
    <div class="job-listing__short" v-for="(job, index) in filteredJobs" :key="index" @click="showFullJob(index)">
      <h2>{{ job.title }}</h2>
      <p>{{ job.shortDescription }}</p>
    </div>
    <div class="job-listing__full">
      <h2>{{ jobs[selectedJob].title }}</h2>
      <p>{{ jobs[selectedJob].fullDescription }}</p>
    </div>
  </div>
</template>

<script>
import jobsData from '@/views/jobs.json';

export default {
  data() {
    return {
      jobs: jobsData,
      selectedJob: 0,
      searchTerm: ''
    }
  },
  methods: {
    showFullJob(index) {
      this.selectedJob = index;
    }
  },
  computed: {
    filteredJobs() {
      if (!this.searchTerm) {
        return this.jobs;
      }
      return this.jobs.filter(job => {
        return job.title.toLowerCase().includes(this.searchTerm.toLowerCase()) ||
               job.shortDescription.toLowerCase().includes(this.searchTerm.toLowerCase()) ||
               job.fullDescription.toLowerCase().includes(this.searchTerm.toLowerCase());
      });
    }
  }
}
</script>