header{
    width: 100%;
}

i{
  padding: 5px;
}


/*------ styles for buttons------------*/
.cust-btn{
    border-radius: none;
    padding: 8px 25px;
    color: #fff;
    font-size: 0.8em;
    background: #419E6A;
    border: none;
  }


  :root {
    --app-blue: #0365FF;
    --app-grey: #8C8989;
    --offWhite: #F1F4F4;
    --app-dark-grey: #3C4045;;


  }
  

  .blue{
    color: var(--app-blue);
}

.cust-btn-black{
  background: var(--app-grey);
}

.cust-btn:hover{
  background: var(--app-blue);
}

.nav-img{
  width: 120px;
}




/*------------------- syles for Auth pages ------------------*/
p{
  margin: 0;
}

/* *{
  border: 1px solid red;
} */

.form-container{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.rightSide{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.form-section{
  padding: 3px;
  font-size: 0.8em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.name-section{
  width: 48%;
}

.form-issues{
  padding: 5px;
  margin: 15px 0px;
  display: flex;
  flex-direction: row;
  font-size: 0.8em;
  justify-content: space-between;
}
.left-content{
  width: 300px;
}

/* .left-content > *{
  border: 1px solid red;
} */
  .leftSide{
      width: 45%;
      padding: 15px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100vh;
      background: #fff;
  }

  .form-btn{
      outline: none;
      border: none;
      padding: 10px 10px;
      color: #fff;
      background: #4F83D5;
      ;
      font-size: 0.9em;
      border-radius: 5px;
      width: 100%;
  }
  .form-btn:hover{
    background: var(--app-blue);
  }


  .form-input{
      width: 100%;
      height: 40px;
      padding: 5px 10px;
      outline: none;
      border: 1px solid var(--app-grey);
      border-radius: 5px;
  }

  .form-end{
      font-size: 0.8em;
      margin: 0 auto;
      /* border: 1px dotted red; */
      text-align: center;
      padding: 10px;
  }


  @media only screen and (max-width: 850px) {
      .rightSide{
          display: none;
      }

      .leftSide{
          width: 100%;
      }

  }