/* Dark and light mode styles */
.dark {
  background-color: var(--background-dark) !important;
  color: var(--text-light) !important;
  fill: var(--text-light) !important;
}
.dark .cust-btn{
  background-color: var(--btn-dark) !important;
  color: #fff !important;
}
.dark .cust-search-btn{
  background-color: var(--btn-dark) !important;
  color: #fff !important;
}
.dark .filter-menu{
  background-color: var(--btn-dark) !important;
  color: var(--text-light) !important;
  border: 1px solid var(--border-dark);
}
.dark .skills{
  color: var(--text-light) !important;
}
.dark .skills{
  color: var(--text-light) !important;
}
.dark a{
  color: var(--text-light) !important;
}
.dark .jobFeature > div{
  background-color: var(--btn-dark) !important;
}
.dark .filter-search{
  background-color: var(--accent-dark) !important;
}
.dark .page-grid-container{
  background-color: var(--background-dark) !important;
}
.dark .job-card{
  background-color: var(--accent-dark) !important;
  border: 1px solid var(--border-dark) !important;
}
.dark .job-details-area{
  background-color: var(--accent-dark) !important;
  border: 1px solid var(--border-dark) !important;
}
.dark .job-detail-header{
  border-bottom: 1px solid #0000002d;
}
.dark .Page-header{
  border-bottom: 1px solid var(--border-dark) !important;
  border-left: 1px solid var(--border-dark) !important;
}
.dark .page-filters{
  border-top: 1px solid var(--border-dark) !important;
  border-bottom: 1px solid var(--border-dark) !important;
}
.dark .Tz-navbar{
  background-color: var(--accent-dark) !important;
  border-bottom: 1px solid var(--border-dark) !important;
}
.dark .tz-menu-content{
  background-color: var(--accent-dark) !important;
}

.dark .tz-menu-content > path{
  fill: #fff !important;
}
.dark .tz-menu-content:hover{
  background-color: var(--background-dark) !important;
}
.dark .ft-search{
  color: #fff !important;
}
.dark .tz-trend{
  background-color: var(--background-dark) !important;
  border: 1px solid var(--border-dark);
}
.dark .tz-trend-count{
  color: grey !important;
}


.dark .Left-Nav{
  background-color: var(--background-dark) !important;
}


/* ------------ DARK  MODE STYLES FOR PROFILE VIEW----------- */
.dark .body{
  background-color: var(--background-dark) !important;
}

.dark .tz-profile-card{
  background: var(--accent-dark) !important;
}
.dark .tz-profile-header{
  background: var(--accent-dark) !important;
}
.dark .bio-area{
  background: var(--accent-dark) !important;
}
.dark .about-area{
  background: var(--accent-dark) !important;
}


.dark .cust-search-in{
  background-color: var(--background-dark) !important;
  border: 1px solid var(--border-dark);
  color: #fff !important;
}
.dark .tz-FAQ-last{
  background: var(--accent-dark) !important;
}
/* Default transition for properties */
.theme-transition {
  transition: background-color 1s, color 0.2s;
}


header{
    width: 100%;
}
.menu-toggle{
  margin: 0px 10px 0px 10px;
  cursor: pointer;
  display: none;
  font-size: 28px;
}
i{
  padding: 5px;
}

a{
  text-decoration: none !important;
  color: var(--app-dark-grey) !important;
}

/*------ styles for buttons------------*/
.cust-btn{
    border-radius: none;
    padding: 8px 25px;
    color: #fff;
    font-size: 0.8em;
    border: none;
    background: var(--app-blue);
  }
  .control{border-radius: 30px;}
  :root {
    --app-blue: #4E79BC;
    --app-blue-hover: #3166ba;
    --app-grey: #8C8989;
    --offWhite: #F1F4F4;
    --app-dark-grey: #3C4045;
    --app-hover: #efefef83;
    --app-btn-disabled: #64a0ff;
    --app-blue-light: #4E79BC1A;
    --main-color: #d4d4d4;
    --loader-color: #4CAF50;
    --back-color: #d4d4d4;

    --background-light: #fff;
    --text-light: #fff;
    --time: 2s;
    --size: 3px;


    /* dark mode styles............... */
    --background-dark: #27323F;
    --text-dark: #000;
    --accent: #769BBF;
    --btn-dark: #283A51;
    --accent-dark: #1F2A36;
    --border-dark: grey;
  }
  .blue{
    color: var(--app-blue);
}
.cust-btn-black{
  background: var(--app-grey);
}
.cust-btn:hover{
  background: var(--app-blue-hover);
}
.backBtn{
  border-radius: 50px;
  position: absolute;
  padding: 10px;
  top: 5px;
  left: 10px;
  cursor: pointer;
}
.backBtn:hover{
  background: var(--app-hover);
}
.disabled-button{
  background: var(--app-btn-disabled) !important;
}

.spinner-border-sm{
  margin-right: 10px;
}

/*----------------custom navigation styles----------------*/
.nav-img{
  width: 120px;
}
.nav-link{
  font-size: 0.9em !important;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px 10px !important;
  /* color: var(--app-dark-grey) !important; */
  /* padding: 10px; */
}

.tz-nav-block{
  display: flex !important;
  align-items: center !important;
  justify-content: flex-start !important;
  flex-direction: row !important;
  border-radius: 4px !important;
  font-size: 0.8em !important;
  padding: 5px 10px !important;
  border: 3px solid transparent;
}

.tz-user-thumbnail{
  height: 35px;
  width: 35px;
  border-radius: 50%;
}

.tz-user-thumbnail-big{
  height: 60px;
  width: 60px;
  border-radius: 50%;
}

.tz-nav-block:hover{
  background: var(--app-hover) !important;
  border-bottom: 3px solid var(--app-blue);
}

.nav-item > .tz-nav-block{
  border: none;
  border-radius: 10px 10px 0px 0px;
}

.offline-message {
  background-color: #ffcccb;
  color: #4b0707;
  padding: 10px;
  text-align: center;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 99999;
  margin: 0 auto;
  max-width: 450px;
  border-radius: 10px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.offline-message > span{
  font-size: 20px !important;
  cursor: pointer;
  border-radius: 50%;
  height: 30px;
  width: 30px;
}

.offline-message > span:hover{
  background: #ff9997;
}



/*------------------- syles for Auth views ------------------*/
p{
  margin: 0;
}
.form-container{
  display: flex;
  flex-direction: row;
  align-items: stretch;
  min-height: 100vh;
}
.rightSide{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 50%;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.3) 0%, rgba(78, 131, 213, 0.3) 100%);
}
.leftSide{
  width: 50%;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #fff;
}
.form-section{
  padding: 3px;
  font-size: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.name-section{
  width: 48%;
}
.form-issues{
  padding: 5px;
  margin: 15px 0px;
  display: flex;
  flex-direction: row;
  font-size: 0.8em;
  justify-content: space-between;
}
.left-content{
  width: 300px;
}

  .form-btn{
      outline: none;
      border: none;
      padding: 10px 10px;
      color: #fff;
      background: #4F83D5;
      font-size: 1em;
      border-radius: 5px;
      width: 100%;
  }
  .form-btn:hover{
    background: var(--app-blue);
  }
  .form-input{
      width: 100%;
      height: 40px;
      padding: 5px 10px;
      outline: none;
      border: 1px solid var(--app-grey);
      border-radius: 5px;
  }

  .form-end{
      font-size: 1em;
      margin: 0 auto;
      /* border: 1px dotted red; */
      text-align: center;
      padding: 10px;
  }


  @media only screen and (max-width: 991px) {
      .rightSide{
          display: none;
      }

      .leftSide{
          width: 100%;
      }

  }




  /*---------------------- Auth views -----------------------*/
  .topLeftImage{
    width: 100%;
}
.subDiv{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 80px;
    /* align-items: center; */
}
.brand-img{
    width: 150px;
}



/*------------------------- custom checkbox ---------------------*/
.checkbox-wrapper-46 input[type="checkbox"] {
  display: none;
  visibility: hidden;
}
.checkbox-wrapper-46 .cbx {
  margin: auto;
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
}
.checkbox-wrapper-46 .cbx span {
  display: inline-block;
  vertical-align: middle;
  transform: translate3d(0, 0, 0);
}
.checkbox-wrapper-46 .cbx span:first-child {
  position: relative;
  width: 18px;
  height: 18px;
  border-radius: 3px;
  transform: scale(1);
  vertical-align: middle;
  border: 1px solid #9098A9;
  transition: all 0.2s ease;
}
.checkbox-wrapper-46 .cbx span:first-child svg {
  position: absolute;
  top: 3px;
  left: 2px;
  fill: none;
  stroke: #FFFFFF;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 16px;
  stroke-dashoffset: 16px;
  transition: all 0.3s ease;
  transition-delay: 0.1s;
  transform: translate3d(0, 0, 0);
}
.checkbox-wrapper-46 .cbx span:first-child:before {
  content: "";
  width: 100%;
  height: 100%;
  background: #506EEC;
  display: block;
  transform: scale(0);
  opacity: 1;
  border-radius: 50%;
}
.checkbox-wrapper-46 .cbx span:last-child {
  padding-left: 8px;
}
.checkbox-wrapper-46 .cbx:hover span:first-child {
  border-color: #506EEC;
}

.checkbox-wrapper-46 .inp-cbx:checked + .cbx span:first-child {
  background: #506EEC;
  border-color: #506EEC;
  animation: wave-46 0.4s ease;
}
.checkbox-wrapper-46 .inp-cbx:checked + .cbx span:first-child svg {
  stroke-dashoffset: 0;
}
.checkbox-wrapper-46 .inp-cbx:checked + .cbx span:first-child:before {
  transform: scale(3.5);
  opacity: 0;
  transition: all 0.6s ease;
}

@keyframes wave-46 {
  50% {
    transform: scale(0.9);
  }
}


.save-btn{
  background: none;
  font-size: 20px;
  outline: none;
  border-radius: 50% !important;
  border: none;
}


/*------------------- customize profile page ---------------*/
.tz-title{
  font-weight: bolder;
  text-align: center;
}
.tz-subtitle{
  text-align: center;
}




/*------------------ styling for jobs views --------------------*/

.page-grid-container {
  display: grid;
  grid-template-areas:
      'Navigation Navigation      Navigation      Navigation      Navigation      Navigation'
      'Left-Nav   Page-header     Page-header     Page-header     Page-header     Page-header'
      'Left-Nav   Page-contents   Page-contents   Page-contents   Page-contents   Page-contents'
      'footer     footer          footer          footer          footer          footer';
  gap: 0;
  background: #fff;
  padding: 0;
  grid-template-columns: 180px 1fr;
  grid-template-rows: 60px auto auto;
  height: 100%;
  }



  .Navigation { grid-area: Navigation; }
  .Left-Nav {
      background: #fff;
      grid-area: Left-Nav;
      display: flex;
      flex-direction: column;
      z-index: 999;
  }
  .Left-Nav:hover > .page-grid-container{
      grid-template-rows: 200px auto auto;
  }

  .spacer{
      border-bottom: 1px solid #C8C6C6;
      height: 61px !important;
      width: 100% !important;
  }

  .Page-title { grid-area: Page-title; }
  .Page-header {
      grid-area: Page-header;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      font-size: 0.8em !important;
      border-bottom: 1px solid #C8C6C6;
      border-left: 1px solid #C8C6C6;
      justify-content: flex-end;
      /* height: 135px; */
  }
  .page-title{
      padding: 15px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      width: 100%;
      height: 60px;
      font-size: 20px;
  }
  .page-filters{
      max-height: 45px;
      display: inline-flex;
      gap: 10px;
      overflow-x: scroll;
      width: 100%;
      border-top: 0.5px solid #C8C6C6;
      border-bottom: 0.5px solid #C8C6C6;
  }
  /* hide al scroll bars in page................*/
  *::-webkit-scrollbar{
      display: none;
  }
  .page-tabs {
      display: flex;
      align-items: flex-end;
      gap: 20px;
      padding-left: 20px;
      padding-right: 20px;
      justify-content: flex-start;
      width: 100%;
      overflow-x: scroll;
      height: 30px;
  }
  .job-category{
      width: 130px !important;
      text-align: center;
  }
  .job-category-active{
      border-bottom: 3px solid var(--app-blue);
      color: var(--app-blue);
  }
  .Page-contents {
      grid-area: Page-contents;
      /* overflow: scroll; */
      height: 100vh;
      /* border: 2px solid red; */
  }

  .filter-menu{
      border: 5px;
      border: 1px solid #C8C6C6;
      padding: 5px;
      border-radius: 5px;
      background: #fff;
      margin: 6px 0px;
      min-width: 100px;
      height: 30px;
  }

  .footer{
      grid-area: footer;
      background: #fff;
  }

  .job-listings{
      display: flex;
      flex-direction: row;
      padding: 10px;
  }

  .page-content-sub{
      display: flex;
      flex-direction: row;
  }

  .job-cards-area{
      margin-top: 10px;
      /* border: 2px solid red; */
      height: 70vh;
      width: 50%;
      overflow: scroll;
  }
  .job-details-area{
      /* border: 2px solid green !important; */
      margin-top: 10px;
      margin-right: 10px;
      height: 68vh !important;
      width: 50%;
      font-size: 0.8em;
      border: 1px solid grey;
  }

  .job-detail-header{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      border-bottom: 1px solid #C8C6C6;
  }
/*-----------reponsive job-detail-header-------------*/
@media only screen and (max-width: 1200px) {
  .job-detail-header{
      flex-direction: column;
  }
  .jdh-detail{
    justify-content: flex-start !important;
    align-items: center !important;
  }
}

.little-employer{
  display: flex;
  flex-direction: row;
  font-size: 10px;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
  width: 250px;
  /* border: 1px solid red; */
  padding: 10px;
  border-radius: 10px;
  background: #efefef;
}


  .jdh-left{
      display: flex;
      flex-direction: column;
      padding: 10px;
      align-items: flex-start;
      gap: 10px;
  }
  .jdh-right{
      display: flex;
      flex-direction: row;
      padding: 10px;
      align-items: flex-start;
  }
  .jdh-title{
      font-size: 15px;
      display: block;
      font-weight: bold;
      padding-bottom: 8px;
  }
  .jdh-detail{
      font-weight: 1px !important;
      border-radius: 5px;
      display: flex;
      /* justify-content: center;
      align-items: center; */
      gap: 10px;
      max-width: 500px;
      flex-wrap: wrap;
  }
  .job-detail-content{
      padding: 10px;
      /* overflow-x: scroll; */
      /* height: 100% !important; */
      /* width: 500px; */
  }
  .skill_set{
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    width: 350px;
    /* border: 2px solid red; */
  }


.skills{
    background: var(--app-blue-light);
    padding: 5px 8px;
    border-radius: 5px;
    color: var(--app-blue);
    display: inline;
    text-transform: capitalize !important;
}

.filter-search{
    border-radius: 5px;
    background: var(--app-hover);
    /* color: #000; */
    border: none;
    height: 30px;
    margin: 6px 0px;
    margin-left: 10px;
    outline: none;
    padding-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.ft-search{
    height: 100%;
    border: none;
    background: none;
    outline: none;
    padding: 5px;
}

/*-----------animation for menu---------------*/
.fade-enter-active,
.fade-leave-active {
transition: opacity 0.3s;
opacity: 1;
}

.fade-enter-from,
.fade-leave-to {
opacity: 0;
}

.non-img{
  height: 200px;
  filter: grayscale(100%);
}


.up-icon{
    height: 14px;
    width: 14px;
}

.jd-section{
    margin-bottom: 25px;
    /* display: flex; */
    ex; */
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
}
.mobile-link{
  display: none;
 }
 .tz-copy-link{
  border-radius: 5px;
  border: 1px dotted var(--app-blue);
  height: 35px;
  /* width: auto; */
  max-width: 275px;
  padding: 2px 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow: scroll;
  justify-content: flex-start;
  background: var(--app-hover);
  position: relative;
 }
 .tz-disabled-link{
  cursor: not-allowed;
  /* color: var(--app-grey); */
 }
 .bi-clipboar{
  cursor: pointer;
  /* position: absolute;
  right: 0px; */
 }


 .desktop-link{
  width: 80%;
  display: block;
}

.no-job-screen{
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: flex-start;
  align-items: center;
  height: 80vh;
  padding: 50px;
}



@media screen and (max-width: 500px) {
  .page-grid-container {
      display: grid;
      grid-template-areas:
          'Navigation      Navigation      Navigation      Navigation      Navigation'
          'Page-header     Page-header     Page-header     Page-header     Page-header'
          'Page-contents   Page-contents   Page-contents   Page-contents   Page-contents'
          'footer          footer          footer          footer          footer';
      }
.Left-Nav{
  display: none;
}

  .page-tabs {
      font-size: 0.9em;
      overflow: scroll;
  }
}

@media screen and (max-width: 650px) {
  .mobile-link{
   display: block;
   width: 60%;
  }
  .desktop-link{
    display: none;
  }
    .job-details-area{
      display: none !important;
      position: absolute !important;
      top: 50vh;
      z-index: 99999;
      width: 100%;
      left: 0px;
      }
  .job-cards-area{
    width: 100%;
    margin: 10px;
  }
  .jdh-detail{
    padding: 0;
  }
}

@media screen and (max-width: 1000px) {
.page-grid-container {
  grid-template-columns: 80px 1fr;
}
}