header{
    width: 100%;
}



/*------ styles for buttons------------*/
.cust-btn{
    border-radius: none;
    padding: 8px 25px;
    color: #fff;
    font-size: 0.8em;
    background: #419E6A;
    border: none;
  }


  :root {
    --app-blue: #0365FF;
    --app-grey: #8C8989;
    --offWhite: #F1F4F4;
    --app-dark-grey: #3C4045;;


  }
  

  .blue{
    color: var(--app-blue);
}

.cust-btn-black{
  background: var(--app-grey);
}

.cust-btn:hover{
  background: var(--app-blue);
}

.nav-img{
  width: 120px;
}